[Unit]
Description=Service for {task_name}

[Service]
Type=oneshot
EnvironmentFile={env_path}
ExecStart=python3 /opt/45drives/houston/scheduler/scripts/rsync-script.py {rsyncConfig_local_path}
Restart=on-failure
RestartSec=30sec
StartLimitBurst=2
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target