[Unit]
Description=Service for {task_name}

[Service]
Type=oneshot
EnvironmentFile={env_path}
ExecStart=python3 /opt/45drives/houston/scheduler/scripts/smart-test-script.py --disks {smartTestConfig_disks} --type {smartTestConfig_testType}
Restart=on-failure
RestartSec=30sec
StartLimitBurst=2
StartLimitInterval=80s

[Install]
WantedBy=multi-user.target