[Unit]
Description=Service for {task_name}
StartLimitBurst=2
StartLimitIntervalSec=80

[Service]
Type=notify
NotifyAccess=all
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal
EnvironmentFile={env_path}
ExecStart={ExecStart}
Restart=on-failure
RestartSec=30sec
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
