[Unit]
Description=Service for {task_name}
StartLimitBurst={start_limit_burst}
StartLimitIntervalSec={start_limit_interval_sec}

[Service]
Type=notify
NotifyAccess=all
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal
EnvironmentFile={env_path}
ExecStart={ExecStart}
Restart=on-failure
RestartSec={restart_sec}sec
TimeoutStartSec=0
TimeoutStopSec=90

[Install]
WantedBy=multi-user.target
