[Unit]
Description=Service for {task_name}

[Service]
Type=oneshot
EnvironmentFile={env_path}
ExecStart=python3 /opt/45drives/houston/scheduler/scripts/replication-script.py {zfsRepConfig_sourceDataset_dataset} {zfsRepConfig_sendOptions_recursive_flag} {zfsRepConfig_sendOptions_customName_flag} {zfsRepConfig_sendOptions_customName} {zfsRepConfig_sendOptions_compressed_flag} {zfsRepConfig_sendOptions_raw_flag} --root {zfsRepConfig_destDataset_pool} --path {zfsRepConfig_destDataset_dataset} --user {zfsRepConfig_destDataset_user} --host {zfsRepConfig_destDataset_host} --port {zfsRepConfig_destDataset_port} --mbuffsize {zfsRepConfig_sendOptions_mbufferSize} --mbuffunit {zfsRepConfig_sendOptions_mbufferUnit} --snapsToKeepSrc {zfsRepConfig_snapRetention_source} --snapsToKeepDest {zfsRepConfig_snapRetention_destination}
Restart=on-failure
RestartSec=30sec
StartLimitBurst=2
StartLimitInterval=80s

[Install]
WantedBy=multi-user.target