[Unit]
Description=45Drives Scheduler D-Bus Service
After=network.target dbus.service
Requires=dbus.service

[Service]
Environment=SCHED_LOG=DEBUG
Type=dbus
BusName=org.houston.Scheduler
ExecStart=/usr/bin/python3 -u /usr/local/libexec/45drives-schedulerd
User=root
Group=root

# Restarts
KillSignal=SIGINT
TimeoutStopSec=10s
Restart=on-failure
RestartSec=250ms
KillMode=control-group

# Core hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=read-only

ReadWritePaths=/var/lib/45drives/houston/scheduler /run/user
LogsDirectory=45drives

[Install]
WantedBy=multi-user.target
